{% extends "layout.html" %}

{% block content %}
    <h2>Password generator</h2>
    
    <form action="" method="POST">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.length.label(class="form-label") }}

            {% if form.length.errors %}
                {{ form.length(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.length.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.length(class="form-control") }}
            {% endif %}
        </div>

        <div class="mb-3">
            {{ form.lowerCase.label(class="form-label") }}
            <br>
            {{ form.lowerCase(class="form-check-input") }}
        </div>

        <div class="mb-3">
            {{ form.upperCase.label(class="form-label") }}
            <br>
            {{ form.upperCase(class="form-check-input") }}
        </div>

        <div class="mb-3">
            {{ form.numbers.label(class="form-label") }}
            <br>
            {{ form.numbers(class="form-check-input") }}
        </div>

        <div class="mb-3">
            {{ form.specials.label(class="form-label") }}
            <br>
            {{ form.specials(class="form-check-input") }}
        </div>

        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock content %}