{% extends "layout.html" %}

{% block content %}
    <h2>File information viewer</h2>
    <p>Test file available at the root of the project.</p>

    <div class="d-flex gap-2 flex-wrap">
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="d-flex gap-2 flex-wrap">
                <div>
                    <input type="file" name="file" class="form-control" required>
                </div>
        
                <div>
                    <button type="submit" class="btn btn-primary mb-3">Upload file</button>
                </div>
            </div>
        </form>
    
        {% if clear %}
            <form action="{{ url_for('file_information') }}">
                <div>
                    <button type="submit" class="btn btn-danger mb-3">Clear page</button>
                </div>
            </form>
        {% endif %}
    </div>

    {% if fileInformation %}
        <h4>File information</h4>
        <ul>
            <li>File name: <b>{{ fileInformation.fileName }}</b></li>
            <li>File type: <b>{{ fileInformation.fileType }}</b></li>

            <br>

            <li>Line count: <b>{{ fileInformation.lineCount }}</b></li>
            <li>Empty line count: <b>{{ fileInformation.emptyLineCount }}</b></li>

            <br>

            <li>Word count: <b>{{ fileInformation.wordCount }}</b></li>
            <li>Most used word: <b>{{ fileInformation.mostUsedWord }}</b></li>
        </ul>

        <h4>File content</h4>
        <div class="overflow-x-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th>Word</th>
                        <th>frequency</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    {% if fileInformation.wordFrequency.keys()|length != 0 %}
                        {% for key, value in fileInformation.wordFrequency.items() %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ value }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="6">Text file is empty</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock content %}