* {
    word-break: break-all
}

h2 {
    margin-bottom: 1rem;
}

h4 {
    margin-top: 2rem;
}

a {
    text-decoration: none;
}

input {
    max-width: 320px;
}

#projects-table {
    min-width: 1016px;
}

.overflow-x-auto {
    overflow-x: auto;
}